* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header_menu {
    background-color: #6551B3;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center; 
}

.header_menu img {
    margin-left: auto;
}

.dashboard_container {
    background-color: #FAF8FF;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; 
}

.button_menu {
    background-color: #6551B3;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 10px;
    height: 40vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px #cfcdd5;
}

.button_menu img {
    height: 40%;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.button_menu h4 {
    margin: auto;
    font-size: 140%;
    margin-top: 10px;
}

.compose_menu {
    background-color: #F2EFFF;
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
}

.compose_menu p {
    font-weight: 500;
}

.compose_menu button {
    margin-left: auto;
    padding: 10px;
    border-radius: 5px;
    border-width: 0;
    background-color: #6551B3;
    color: white;
    display: flex;
    align-items: center;
}

.compose_menu button:hover {
    background-color: #AC9BEF;
    cursor: pointer;
}

.compose_menu button img {
    margin-left: 10px;
}

/* .compose_form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
} */

.compose_form td {
    color: #5e5e5e;
    font-size: 80%;
    padding: 10px;
    position: relative;
}

.compose_form input, #content {
    border: none;
    margin-left: 5px;
    width: calc(100% - 100px);
}

.compose_form input:focus, #content:focus {
    outline: none;
}

#content {
    padding: 10px;
    resize: none;
    flex-grow: 1;
    height: 100%;
    width: calc(100% - 30px);
}

.compose_form hr {
    border-top: 1px solid #dbdbdb;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.search_body {
    background-color: #FAF8FF;
}

#search_main {
    width: 100vw;
    display: inline-grid;
    justify-self: center;
    justify-content: center;
}

.search_holder {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 80vw;
    justify-content: center;
}

.search_bar {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #cfcdd5;
}

.search_bar input {
    border-width: 0px;
    width: 100%;
}

.search_bar input:focus {
    outline: none;
}

.search_bar img:hover {
    cursor: pointer;
}

.result_holder {
    /*display: flex;*/
    justify-content: center;
    width: 80vw;
    padding: 0 20px;
}

.search_result {
    background-color: #E6E0FB;
    width: 100%;
    border-radius: 5px;
}

.search_result #no_result {
    padding: 20px;
    font-size: 10px;
}

.result_row {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #D6D6D6;
}

.result_row img {
    width: 30px;
    height: 30px;
}

.result_row #username {
    font-size: 75%;
    padding: 0 10px 0 10px;
    max-width: 100px;
    overflow: hidden;
}

.result_row #subject {
    position: absoulte;
    left: 200px;
    font-size: 20px;
    padding-left: 10px;
}

.result_row #date {
    font-size: 10px;
    margin-left: auto;
}

.view_menu {
    background-color: #F2EFFF;
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: center;
}

.view_content {
     padding: 15px;
}

.view_content #vsubject {
    font-weight: 700;
}

.view_header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D6D6D6;
    padding: 20px 0;
}

.view_header_user {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.view_header_user #vfrom {
    font-size: 65%;
}

.view_header #vdate {
    margin-left: auto;
    font-size: 75%;
}

.view_content #vcontent {
    margin-top: 20px;
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 20px;
}

.profile_container button {
    margin-top: auto;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 5px;
    border-width: 0;
    background-color: #6551B3;
    color: white;
}

.profile_container button:hover {
    background-color: #AC9BEF;
    cursor: pointer;
}
.login_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #FAF8FF;
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px #e5e4e9;
    background-color: white;
}

.login_container * {
    margin: 10px 0;
}

.login_container h1 {
    /* color: #6551B3; */
    font-size: 200%;
    font-weight: 800;
    margin-bottom: 30px;
}

.login_container p {
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 90%;
}

.login_container button {
    padding: 10px;
    width: 40%;
    border-radius: 25px;
    border-width: 0;
    background-color: #6551B3;
    color: white;
}

.login_container button:hover {
    background-color: #AC9BEF;
    cursor: pointer;
}

.login_container input {
    padding: 5px;
    border-width: 1px;
    border-color: #c4bed9;
    background-color: #F0EEF6;
    border-radius: 10px;
}

#loading {
    /*background: url('image/loading.gif') no-repeat center center;*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999999;
    background-color: #00000075;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#loading img {
    width: 100px;
}
