* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header_menu {
    background-color: #6551B3;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center; 
}

.header_menu > img {
    margin-left: auto;
}

.dashboard_container {
    background-color: #FAF8FF;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; 
}

.button_menu {
    background-color: #6551B3;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 10px;
    height: 40vh;
    width: 20vw;
}

.button_menu img {
    height: 50%;
    padding: 10px;
    /* margin: auto; */
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 20px;
}

.profile_container button {
    margin-top: auto;
    margin-bottom: 100px;
}

.login_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #FAF8FF;
}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px #e5e4e9;
    background-color: white;
}

.login_container * {
    margin: 10px 0;
}

.login_container h1 {
    /* color: #6551B3; */
    font-size: 200%;
    font-weight: 800;
    margin-bottom: 30px;
}

.login_container p {
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 90%;
}

.login_container button {
    padding: 10px;
    width: 40%;
    border-radius: 25px;
    border-width: 0;
    background-color: #6551B3;
    color: white;
}

.login_container button:hover {
    background-color: #AC9BEF;
}

.login_container input {
    padding: 5px;
    border-width: 1px;
    border-color: #c4bed9;
    background-color: #F0EEF6;
    border-radius: 10px;
}